<!DOCTYPE html>
<html lang="en">

  <% include head.ejs %>

  <body>

    <h2>Real Time Weather</h2>

    <form action="/weather" method="get">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="Your name" value="" autocomplete="off">
      <label for="city">Enter your city</label>
      <input id="city" type="text" name="city" placeholder="e.g. Amsterdam" value="" autocomplete="off">
      <button type="submit">Enter</button>
    </form>

    <!-- <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      var socket = io.connect('http://localhost:3000/');

    </script> -->

  </body>
</html>
