<!DOCTYPE html>
<html lang="en">

  <% include head.ejs %>

  <body>

    <h2>Real Time Weather</h2>

    <form class="login" action="/weather" method="get">
      <ul>
        <li>
          <label for="name">Name</label>
          <input id="name" type="text" name="name" placeholder="Your name" value="" autocomplete="off">
        </li>
        <li>
          <button class="current-location" type="button">Use current location</button>
          <label for="city">Enter your city</label>
          <input id="city" type="text" name="city" placeholder="e.g. Amsterdam" value="<%= city %>" autocomplete="off">
        </li>
      </ul>
      <button type="submit">Enter</button>
    </form>

    <script type="text/javascript">

      // Test geolocation:

      var btnCurLocation = document.querySelector('.current-location');

      btnCurLocation.addEventListener('click', function (e) {
        getLocation();
        e.preventDefault();
      }, false);

      function getLocation() {
        if (navigator.geolocation) {
          btnCurLocation.innerHTML = 'Loading...';
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          console.log('Geolocation is not supported by this browser.');
        }
      }

      function showPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var form = document.createElement('form');
        var input = document.createElement('input');

        form.action = '/location';
        form.method = 'get';
        form.hidden = true;

        btnCurLocation.parentNode.appendChild(form);

        input.name = 'latlng';
        input.value = `${lat},${lng}`;

        form.appendChild(input);

        btnCurLocation.innerHTML = 'Use current location';

        form.submit();
      }

      function showError(error) {
        switch(error.code) {
          case error.PERMISSION_DENIED:
            console.log('User denied the request for Geolocation.');
            break;
          case error.POSITION_UNAVAILABLE:
            console.log('Location information is unavailable.');
            break;
          case error.TIMEOUT:
            console.log('The request to get user location timed out.');
            break;
          case error.UNKNOWN_ERROR:
            console.log('An unknown error occurred.');
            break;
        }
      }

    </script>

  </body>
</html>
