<!DOCTYPE html>
<html lang="en">

  <% include head.ejs %>

  <body>

    <div class="wrapper">
      <h1 id="temp"><%= user.weather.condition.temp %>&deg;</h1>
      <h3 id="city"><%= user.city %></h3>
      <h3 id="pubDate"><%= user.weather.condition.date %></h3>
    </div>

    <ul class="notifications"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

      var socket = io.connect('http://localhost:3000/');
      var temp = document.getElementById('temp');
      var city = document.getElementById('city');
      var pubDate = document.getElementById('pubDate');
      var notifications = document.querySelector('.notifications');

      socket.on('history', function (user) {
        var li = document.createElement('li');
        var h3 = document.createElement('h3');

        h3.innerHTML = `${user.name} is in ${user.city}: ${user.weather.condition.temp}&deg;`;

        li.appendChild(h3);
        notifications.appendChild(li);

        setTimeout(function () {
          li.classList.add('show');
        }, 500);

        setTimeout(function () {
          li.classList.remove('show');
        }, 10800);

        setTimeout(function () {
          notifications.removeChild(li);
        }, 11100);
      });

      socket.on('new-user', function (user) {
        var li = document.createElement('li');
        var h3 = document.createElement('h3');

        h3.innerHTML = `${user.name} connected in ${user.city}: ${user.weather.condition.temp}&deg;`;

        li.appendChild(h3);
        notifications.appendChild(li);

        setTimeout(function () {
          li.classList.add('show');
        }, 500);

        setTimeout(function () {
          li.classList.remove('show');
        }, 10800);

        setTimeout(function () {
          notifications.removeChild(li);
        }, 11100);
      });

      socket.on('update', function (weatherData) {

        temp.innerHTML = `${weatherData.condition.temp}&deg;`;
        city.textContent = weatherData.location.city;
        pubDate.textContent = weatherData.condition.date;

        var curTemp = weatherData.condition.temp;
        var condition;

        if (curTemp < 5) {
          condition = 'cold';
        } else if (curTemp >= 5 && curTemp < 10) {
          condition = 'chilly';
        } else if (curTemp >= 10 && curTemp < 15) {
          condition = 'medium';
        } else if (curTemp >= 15 && curTemp < 30) {
          condition = 'warm';
        } else if (curTemp >= 30) {
          condition = 'hot';
        }

        document.body.style.backgroundColor = `var(--color-temp-${condition})`;

      });

    </script>

  </body>
</html>
